{% extends 'basic_app/basic_app_base.html' %}
<title>Index Page</title>
{% block body_block %}
    <h1>Welcome to the Back End Section.</h1>
    <h2>In order to make a successful pull request, you must be able to set up the backend, according to the following methods.</h2>
    <h3>It would help for you to look into the given ideas, before you proceed to work on the back end.</h3>
    <ul class="list-group">
        <li class="list-group-item">Consider looking into the django docs, on how to create a new application.</li>
        <li class="list-group-item">Check into how you should connect views, templates, and urls in Django.</li>
        <li class="list-group-item">A good practice would be to set up your own Django website, before you work on this one, in case you do not know much about Django.</li>
        <li class="list-group-item">Look into template inheritance in order to understand how basic_app's web pages are working.</li>
    </ul>
    <h3>The tasks below are the ones which are expected to be accomplished, in order for a successful pull request.</h3>
    <ul class="list-group">
        <li class="list-group-item">Creating a new application using django commands.</li>
        <li class="list-group-item">Create views, and templates for the new application.</li>
        <li class="list-group-item">Connect the new application to slr, using settings.py</li>
        <li class="list-group-item">Either use the base template or make your own, and create a simple web page, with a title, a subtitle, and a lorem Ipsum paragraph.</li>
        <li class="list-group-item">Be sure to connect the application, such that it can be accessed when the django runs the server.</li>
        <li class="list-group-item">(Optional) Add in a navbar-link into the navbar on the index page, to link to your application's display page.</li>
    </ul>
    <a class="btn btn-primary" href="{% url 'basic_app:index' %}">Back to home</a>
{% endblock %}
