<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top navbar-inverse">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="{% url 'basic_app:index' %}">WSoC</a></li>
                    <li><a class="navbar-link" href="{% url 'basic_app:frontend' %}">Front End</a></li>
                    <li><a class="navbar-link" href="{% url 'basic_app:backend' %}">Back End</a></li>
                    <li><a class="navbar-link" href="{% url 'basic_app:frontend_submission' %}">Front End Submission</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="jumbotron">
                {% block body_block %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>