{% extends 'basic_app/basic_app_base.html' %}
{% load static %}
<title>Front End Page</title>
{% block body_block %}
    <h1>Welcome to the Front End Section.</h1>
    <h2>In order to make a successful pull request, you must design a web page adhering to the recommendations as given below.</h2>
    <h3>It would help for you to look into the given ideas, before you proceed to work on the web page.</h3>
    <ul class="list-group">
        <li class="list-group-item">You may use BootStrap, which has been used in all of the other web pages of this project.</li>
        <li class="list-group-item">You may want to look into template inheritance and see how it has been used in this project to simplify the initial steps of the task list.</li>
        <li class="list-group-item">You should look into how to link static files from the project into the specific html in django, this will be essential to insert images into the web page.</li>
        <li class="list-group-item">Feel free to commit and push to your branch as soon as you are done with one or the other feature. This allows us to evaluate your submission better.</li>
        <li class="list-group-item">Any sort of self promotion is alright, but, it should only link to your professional works.</li>
        <li class="list-group-item">Keep a note of the fact that this web page must be created in the file named front_end_submission.html</li>
    </ul>
    <h3>The task list below, is in a particular order and must not be mixed up.</h3>
    <ul class="list-group">
        <li class="list-group-item">A navigation bar with the same brand, and links as the one in the home page.</li>
        <li class="list-group-item">A large image of the WSoC logo, which you can find in the static folder of the django project, to be placed as a banner for the web page.</li>
        <li class="list-group-item">A large heading for the web page which says "FRONT END"</li>
        <li class="list-group-item">Dummy text, or Lorem Ipsum text as a paragraph.</li>
        <li class="list-group-item">The following part will be in two sections. Left and Right.</li>
        <ul>
            <li class="list-group-item list-group-item-info">Left : A subtitle with the text "Web Development".</li>
            <li class="list-group-item list-group-item-info">Left : Lorem Ipsum Paragraph text under the subtitle</li>
            <li class="list-group-item list-group-item-info">Right : An Image of the bread doggo in the static folder directory, in a square shaped format.</li>
            <li class="list-group-item list-group-item-info">(Optional) Right : Make a caption for bread doggo.</li>
        </ul>
        <li class="list-group-item">Footer for the Web Page, with the text "copyright:none"</li>
    </ul>
    <a class="btn btn-primary" href="{% url 'basic_app:index' %}">Back to Home</a>
{% endblock %}
