{% extends 'basic_app/basic_app_base.html' %}
<title>Index Page</title>
{% block body_block %}
    <h1>Welcome to WSoC.</h1>
    <li>Stay well aware that none of the tasks require you to try to memorize all the commands from BootStrap or the Django framework and instead going through the documentation is expected of you.</li>
    <a class="btn btn-primary" href="{% url 'basic_app:frontend' %}">Front End</a>
    <a class="btn btn-primary" href="{% url 'basic_app:backend' %}">Back End</a>
{% endblock %}
