{% extends 'basic_app/basic_app_base.html' %}
{% load static %}
<title>Index Page</title>
{% block body_block %}
    <img style="max-width: 100%;" src="{% static 'basic_app/Logo-White-Header.png' %}" alt="WSoC Banner">
    <h1>Welcome to Winter Season of Code.</h1>
    <ul class="list-group">
        <li class="list-group-item">Taking inspiration from Google's Summer of Code, WSoC is an initiative made by the Open Source Community to guide student developers into developing Open Source Projects.</li>
        <li class="list-group-item">Allowing them to gain experience while working as a team to develop projects, along with collaboratively working towards an end goal to develop a great project.</li>
    </ul>

    <h2>Options you are provided with</h2>
    <ul class="list-group">
        <li class="list-group-item">Front End : Tests your front end skills, based on understanding, and working with HTML and CSS.</li>
        <li class="list-group-item">Back End : Tests your capability to work with the Back End of a project, and majorly focused on Python, and the Django Framework.</li>
    </ul>

    <h2>Before you begin</h2>
    <ul class="list-group">
        <li class="list-group-item">You can attempt both the frontend as well as the backend tasks in case you wish to.</li>
        <li class="list-group-item">Try to commit every time you feel like you've added a significant feature, this allows you to track your own progress and allows us to see the changes made to the project better.</li>
        <li class="list-group-item">Do not be worried about the entire process being overwhelming, try to break down the problems into different portions to simplify the problem statement given to you.</li>
        <li class="list-group-item">Stay well aware of the fact that none of the tasks require you to try to memorize all the commands from BootStrap or the Django framework, and instead going through the documentation is expected of you.</li>
    </ul>
    <a class="btn btn-primary" href="{% url 'basic_app:frontend' %}">Front End</a>
    <a class="btn btn-primary" href="{% url 'basic_app:backend' %}">Back End</a>
{% endblock %}
